*{
    margin: 0;
    padding: 0;
}
/* menu  */
.home{
    margin-right: 340px;
    margin-left: 50px;
}
.home img{
    margin-right: 23px;
}
.menu{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.menu ul{
    background-color:  #02376b;
    
}
.menu ul li{
    display: inline;
    position: relative;
}
.menu ul li a{
    width: 150px;
    color: #accbe0;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.menu ul li a:hover{
    background-color: #025b97;
}
/* sub menu */
.menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    padding-left: 0px;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul ul{
    width: 170px;
}
.menu ul ul li a{
    display: block;
}
body{
    background-color: #051b32;
}
.fundo{
    height: 90vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 850px;
    margin-left: 20%;
}
.calculadora{
    margin-top: 120px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: rgb(0, 117, 250);
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
.fundo p{
    font-size: 24px;
    color: #accbe0;
}
h1{
    color: #accbe0;
}
footer{
    background-color: #015fa9;
    color: #accbe0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:9vh;
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}